<% content_for :sidebar_extra_actions do %>
  <li>Create node</li>
  <li>Rename node</li>
  <li>Delete node</li>
  <li>Move node</li>
  <li>Attach node</li>
  <li>Finalise node</li>
  <li>Publicise node</li>
  <li>Apply node</li>
<% end %>  

<% content_for :sidebar do
  render partial: 'edit/sidebar'
end %>  
	
<h1>Node <%= render partial: "node/node", object: @n%></h1>

<%= render partial: "edit/sql_results" %>
