<% content_for :sidebar_extra_actions do %>
  <li>extra edit for node</li>
<% end %>  

<% content_for :sidebar do
  render partial: 'edit/sidebar'
end %>  
	
TODO: Display node <%= @n %>

<%= render partial: "edit/sql_results" %>
