<% render partial: 'node/sidebar' %>

<h1>Publicise node</h1>

<p>
	This action is part of support for different instances of this application being able to share and exchange data. The idea is
	that an instance of this app should not have to hold a copy of all the nodes held remotely in order to be able to work with them.
</p>
<p>
	For instance, it should be possible to pull in the classifications of frogs from different other sites around the world, each of which
	holds a subset of the frog names of interest to them, and to
	assemble those nodes into your own bigger classification. Or it might be reasonable for some site to hold a top-level classification
	down to superfamiliy level, and for other sites to use that common higher taxonomy as a starting point for work in more detail at a lower level. 
</p>

<p>
	In essence, nodes that are not 'published' will not be visible to the import/export process. Once a node is marked as published, certain
	types of rollback and edits will no longer be possible. If a series of edits is performed on a tree, it will be possible to mark only
	some of those versions as published. From the external point of view, the versioning history will appear to skip those edits as if they had been
	deleted by the delete version process.
</p>

<p>
	But for now, this info wishlist page is all you get :) .
</p>
