<% if tree.nil? %>
	<span class='<%=tree_css(nil)%>'>--NIL--</span>
<% else %>
<%= link_to "#{tree.name}[#{tree.tree? ? 't': 'w'}#{tree.id}]", {controller: tree.tree? ? :tree : :workspace, action: tree.tree? ? :tree : :workspace, id: tree.id}, {class: tree_css(tree) } %>
<% end %>	