<% if tree.nil? %>
	<span class='<%=node_css(nil)%>'>--NIL--</span>
<% else %>
<span class='<%=tree_css(tree)%>'><%=  tree.name %></span><%= link_to "[t#{tree.id}]", controller: tree.tree? ? :tree : :workspace, action: tree.tree? ? :tree : :workspace, id: tree.id%>
<% end %>	