<% content_for :sidebar_extra_actions do %>
  <li>extra edit for tree</li>
<% end %>  

<% content_for :sidebar do
  render partial: 'edit/sidebar'
end  %>

TODO: Display tree <%= @t %>

<%= render partial: "edit/sql_results" %>
