.node { font-family: monospace; }
.tree {}


.node-nil { font-weight: bold; color: darkgray; }
.node-end { font-weight: bold; color: darkgray; }

.node-workspace-top { text-decoration: underline; }
.node-tree-top { text-decoration: underline; }

.node-draft { color: darkred; }
.node-published { font-weight: bold; }
.node-unpublished {  }

.node-replaced { text-decoration: strikethrough; }

.tree-nil { font-weight: bold; color: darkgray; }
.tree-workspace { color: darkred; }
.tree-tree {  }

.node-tree-structure-block { }
.node-tree-structure-node { }
.node-tree-structure-subnodes { margin-left: 2em;}
