<table>
	<tr>
		<th style="padding: 0 1em;">Operation</th>
		<th style="padding: 0 1em;">Result</th>
		<th style="padding: 0 1em;">Time (ms)</th>
	</tr>
	<% 
	flash[:sql].each do |sql| 
		if sql.is_a? String
	%>
			<tr>
				<td style="padding: 0 1em;" colspan="3"><b><u><%= sql %></u></b></td>
			</tr>
	<% 
		else
	%>
			<tr>
				<td style="padding: 0 1em;"><%= 
					if sql.binds.empty?
						sql.proc
					else
						"#{sql.proc}(#{sql.binds.collect{|v| v.inspect}.join(', ')})"
					end
				%></td>
				<td style="padding: 0 1em;"><%= sql.result%></td>
				<td style="padding: 0 1em;"><%= sql.ms%></td>
			</tr>
	<% 
		end 
	end
	%>
</table>
