<% content_for :sidebar do
	 render partial: 'edit/sidebar'
end  %>

<div class="muted">
	This page is the default 'we have just done an action, show what happened' page.
</div>

<% if flash[:sql] and !flash[:sql].empty? %>
	<h3>SQL Executed</h3>
	<table>
		<tr><th style="padding: 0 1em;">Function</th><th style="padding: 0 1em;">Arguments</th><th style="padding: 0 1em;">Result</th><th style="padding: 0 1em;">Time (ms)</th></tr>
	<% flash[:sql].each do |sql| %>
		<tr><td style="padding: 0 1em;"><%=sql.sql.strip%></td>
			<td style="padding: 0 1em;"><%=sql.binds%></td>
			<td style="padding: 0 1em;"><%=sql.result%></td>
			<td style="padding: 0 1em;"><%=sql.ms%></td></tr>
	<% end %>
	</table>
<% end %>
