<% content_for :sidebar do
  render partial: 'edit/sidebar'
end  %>

<div class="muted">
	This page is the default 'we have just done an action, show what happened' page.
</div>

<% if flash[:sql] and !flash[:sql].empty? %>

<h3>Operations</h3>
<%= render partial: "edit/sql_results" %>
<% end %>
