<% content_for :sidebar do
	 render partial: 'edit/sidebar'
end  %>

<div class="muted">
	This page is the default 'we have just done an action, show what happened' page.
</div>

<% if flash[:sql] and !flash[:sql].empty? %>
	<h3>SQL Executed</h3>
	<div class="container-fluid">
		<% flash[:sql].each do |sql| %>
			<div class="row-fluid">
				<div class="span9">
					<pre><%=sql.sql.strip%></pre>
				</div>
				<div class="span3">
					<% if sql.binds and !sql.binds.empty?%>
						<strong>Bindings</strong><ol>
						<% sql.binds.each do |bb| %>
							<li><tt><%=bb%></tt></li>
						<% end %>
						</ol>
					<% end %>
					<% if sql.result %>
						Result: <%=sql.result%>, 
					<% end %>
					Time: <%=sql.ms%>ms
				</div>
			</div>
		<% end %>
	</div>
<% end %>
