<% content_for :sidebar do
  render partial: 'edit/sidebar'
end  %>

<h1>Trees in data set</h1>

<% if @list.empty? %>
<div class="muted">
	No trees in dataset.
</div>
<% else %>
<ul>
	<% @list.each do |t| %>
	<li>
		<span class="<%=tree_css(t)%>"><%=t.name%></span> <%= link_to "[#{t.id}]", controller: :tree, action: :tree, id: t.id %></span>
	</li>
	<% end %>
</ul>
<% end %>

<%= render partial: "edit/sql_results" %>
