<% content_for :sidebar do
  render partial: 'edit/sidebar'
end  %>

<h1>Workspaces in data set</h1>

<% if @list.empty? %>
<div class="muted">No workspaces in dataset.</div>
<% else %>
	<% @list.each do |t| %>
	<li>
		<span class="<%=tree_css(t)%>"><%=t.name%></span> <%= link_to "[#{t.id}]", controller: :workspace, action: :workspace, id: t.id %></span>
	</li>
	<% end %>
<% end %>


<%= render partial: "edit/sql_results" %>
